# file options
--exclude Pods,Generated

# format options
--allman false
--indent 4
--tabwidth 4
--maxwidth 120
--wrapcollections before-first
--wraparguments before-first
--closingparen balanced
--commas always
--comments indent
--decimalgrouping 3
--exponentcase lowercase
--header ignore
--hexgrouping 4,8
--ifdef indent
--importgrouping alphabetized
--linebreaks lf
--stripunusedargs closure-only
--swiftversion 5.9
--trimwhitespace always
--wrapternary before-operators

# rules
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable linebreakAtEndOfFile
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantGet
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantVoidReturnType
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable todos
--enable trailingClosures
--enable unusedArguments 